<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/icon.png">

</head>
<body>
    <div class="main-content">
        <!--For partials-->
        {{>header}}

        <img class="potrait" src={{imgURL}}>
    </div>

    {{>footer}}

</body>
</html>